.container {
  @apply mx-auto mb-6;
}

.header {
  @apply my-6 mx-3 pb-3;
  @apply flex justify-between;
  @apply text-gray-600 uppercase font-bold text-2xl;
  @apply border-b;

  .title {

  }

  .actions {
    @apply flex;
    @apply space-x-3;
    
    .action {

    }
  }
}

.inner {
  @apply mx-3;  
}


/* Hide scrollbar for Chrome, Safari and Opera */
.ns::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ns {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


