<div class="show ">
  <h1 class="title"><%= post_link(@post) %></h1>

  <% unless @post.url.empty? %>
  <span class="ext"><%= @post.url %></span>
  <% end %>

  <span class="byline">by: <%= @post.user.name %></span>

  <% unless @post.body.empty? %>
  <p><%= @post.body %></p>
  <% end %>
</div>