<p>Hey <%= @username %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Your email has been changed to <%= @resource.email %>.</p>
<% end %>
