<span class="actions">
  <span class="action">
    <% if controller_name == "posts" %>
    <a href="#" data-global-target="togglePostFormBtn" data-action="click -> global#toggleForm">Add</a>
    <% end %>
  </span>
</span>