<div data-controller="theme" data-theme-target="wrapper" class=" ">
  <div data-theme-target="picker"></div>
</div>
<!-- hidden sm:block absolute right-5 top-0 -->
<style id="theme">
:root { 
  --accent: rgba(59, 130, 246, 1); 
  --accent-light: rgba(59, 130, 246,0.5); 
  --accent-lighter: rgba(59, 130, 246,0.3); 
  --accent-lightest: rgba(59, 130, 246,0.03); 
}
</style>
